.app {
    padding: 0;
}

.from-navbar-offset-mt {
    margin-top: 120px;
}

.margin-top {
    margin-top: 30px;
}

li {
    cursor: pointer;
}

html {
    padding: 0;
}

.settings-page {
    padding: 0;
}
